# Use Move syntax highlighter for Move IR code
*.mvir linguist-language=Move

# These files are used in "porcelain" file comparison,
# we don't want an equality to fail because of line endings.
crates/iota-core/tests/staged/iota.yaml text eol=lf
crates/iota-open-rpc/spec/openrpc.json text eol=lf
iota_core/tests/staged/iota.yaml text eol=lf
